/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn-next {
  float: right;
  margin-bottom: 10px;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
}

.img-icon {
  margin-top: 36px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.container-background {
  background-color: lightgray;
}

.form-error {
  color: #dc3545;
}

.mrg-top {
  margin-top: 25px;
}

.tool-icon{
  margin-top: -28px;
  margin-right: 10px;
}

div.toolicon {
  position: relative;
}
div.toolicon span {
  position: absolute;
  right: 3px;
  width: 15px;
  height: 15px;
  color: white;
  background-color: black;
  text-align: center;
  line-height: 1em;
  border-radius: 50%;
  cursor: pointer;
}

