/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn-next {
  float: right;
  margin-bottom: 10px;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
}

.img-icon {
  margin-top: 36px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.container-background {
  background-color: lightgray;
}

.form-error {
  color: #dc3545;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search {display: inline-block;}

.search input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}

.search .fa-search {left: auto; right: 10px;}